.cardSection {
  display: flex;
  gap: 35px 20px;
  flex-wrap: wrap;
  margin-left: 3.2rem;
  flex: 0.75;
}

.content {
  display: flex;
  margin: 0 80px;
}

.newprod {
  margin: 20px 90px;
}

@media screen and (max-width: 450px) {
  .cardSection {
    margin-left: -3em;
    width: 90vw;
    gap: 1em 3.5em;
  }
  .newprod {
    margin: 1em -3em;
  }
}
