.container {
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #000;
  color: #eb4c6b;
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  padding: 8px 274px;
  font-size: 12px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 40px 60px;
}

.iconContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.topContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topContent img {
  height: 16px;
  width: 16px;
}

.iconContainer img {
  height: 24px;
  width: 24px;
}

.lang {
  display: flex;
  align-items: center;
}
.lang img {
  height: 14px;
  width: 14px;
}
.hamMenu {
  display: none;
}

@media screen and (max-width: 450px) {
  .topContent {
    justify-content: center;
    align-items: center;
  }

  .top {
    padding: 10px;
  }
  .topContent:nth-child(2),
  .topContent:nth-child(3) {
    display: none;
  }
  .hamMenu {
    display: block;
    font-size: 24px;
  }
  .iconContainer div:nth-child(4),
  .iconContainer div:nth-child(5) {
    display: none;
  }
  .bottom {
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
  }
}
