.container {
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #000;
  color: #eb4c6b;
  display: flex;
  justify-content: space-around;
  font-weight: 300;
}
.bottom {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 40px 60px;
}

.iconContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
