.menu {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  padding: 30px 10px;
  margin: 0 5vw;
}

.menuLeft {
  display: flex;
  gap: 50px;
}
.filter {
  cursor: pointer;
}

.filter p {
  font-size: 16px;
  color: #888792 !important;
  text-decoration: underline;
  font-weight: 400;
}
.menu p {
  color: #252020;
  font-weight: 700;
  font-size: 18px;
}

.select {
  background-color: white;
  color: #000;
  border: none;
  font-size: 18px;
}

.select option {
  background-color: white;
  font-size: 18px;
  padding: 20px;
}
